[submodule "mathematica/Dependencies/FeynCalc"]
	path = mathematica/Dependencies/FeynCalc
	url = https://github.com/JP-Ellis/hep-packages.git
	branch = FeynCalc
[submodule "mathematica/Dependencies/X"]
	path = mathematica/Dependencies/X
	url = https://github.com/JP-Ellis/hep-packages.git
	branch = Package-X
[submodule "mathematica/Dependencies/SARAH"]
	path = mathematica/Dependencies/SARAH
	url = https://github.com/JP-Ellis/hep-packages.git
	branch = SARAH
[submodule "mathematica/Dependencies/FeynArts"]
	path = mathematica/Dependencies/FeynArts
	url = https://github.com/JP-Ellis/hep-packages.git
	branch = FeynArts
[submodule "mathematica/Dependencies/FeynHelpers"]
	path = mathematica/Dependencies/FeynHelpers
	url = https://github.com/FeynCalc/feynhelpers
