[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
data-science-types = "*"
isort = "*"

[packages]
ipywidgets = "*"
numpy = "*"
pandas = "*"
scipy = "*"
bokeh = "*"
plotly = "*"
seaborn = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
